<!DOCTYPE html>
<html lang="en" ng-app="exway">
  {% load staticfiles %}
  <head>
    <meta charset = "utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exway | Expenses the Easy Way!</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap-datetimepicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/angular/angular.rangeSlider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/angular/angular-busy.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}

    <script type="text/javascript" src="{% static "js/jquery/jquery-2.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap/moment-with-langs.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular/angular.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular/angular-route.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular/angular-cookies.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular/angular.rangeSlider.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular/angular-busy.min.js" %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
