<div class="row-fluid" ng-controller="ExpensesController as expensesCtrl">
  <h2>Expenses</h2>
  <button class="btn btn-success space-bottom">
    <i class="glyphicon glyphicon-plus"></i>
    Add Expense
  </button>
  <div class="alert alert-info" ng-show="!expensesCtrl.expenses.length">No expenses yet.</div>
  <table class="table table-striped table-hover" ng-show="expensesCtrl.expenses.length">
    <thead>
      <tr>
        <th>Expense</th>
        <th>Date and Time</th>
        <th>Amount</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="expense in expensesCtrl.expenses">
        <td>{$ expense.description $}</td>
        <td>{$ expense.date $}, {$ expense.time $}</td>
        <td>{$ expense.amount|currency $}</td>
        <td>{$ expense.comment $}</td>
        <td>
          <button class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Edit
          </button>
          <button class="btn btn-danger" ng-click="expensesCtrl.delete(expense)">
            <i class="glyphicon glyphicon-remove"></i>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
