<div class="row-fluid" ng-controller="ExpensesController as expensesCtrl">
  <div class="col-lg-12">
    <h2>Expenses</h2>

    <div class="row-fluid">
      <h4>Filter</h4>

      <form name="expensesFilterForm">
        <table class="table expenses-filter-table nomargin-bottom">
          <thead>
            <tr>
              <th>Description:</th>
              <th>Comment:</th>
              <th>Amount:</th>
              <th>Date From:</th>
              <th>Date To:</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="20%">
                <input type="text" class="form-control" placeholder="Description" ng-model="expensesCtrl.expensesFilter.description">
              </td>
              <td width="18%">
                <input type="text" class="form-control" placeholder="Comment" ng-model="expensesCtrl.expensesFilter.comment">
              </td>
              <td width="22%">
                <div range-slider min="0" max="expensesCtrl.expensesFilterDefault.amountMax" model-min="expensesCtrl.expensesFilter.amountMin" model-max="expensesCtrl.expensesFilter.amountMax" step="1" filter="currency"></div>
              </td>
              <td>
                <div class='input-group date' id='dateFromFilter'>
                  <input type="text" class="form-control" ng-model="expensesCtrl.expensesFilter.dateFrom">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </td>
              <td>
                <div class='input-group date' id='dateToFilter'>
                  <input type="text" class="form-control" ng-model="expensesCtrl.expensesFilter.dateTo">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </td>
              <td width="15%">
                <div class="pull-right">
                  <button class="btn btn-primary" ng-click="expensesCtrl.applyFilter()">
                    <i class="glyphicon glyphicon-filter"></i>
                    Apply
                  </button>
                  <button class="btn btn-default" ng-click="expensesCtrl.clearFilter()">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    Clear
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <button class="btn btn-success space-bottom space-top" ng-click="expensesCtrl.showForm = true">
      <i class="glyphicon glyphicon-plus"></i>
      Add Expense
    </button>

    <form name="expensesForm" class="form-horizontal" role="form" novalidate
      ng-show="expensesCtrl.showForm"
      ng-submit="expensesForm.$valid && expensesCtrl.addExpense()">
      <div class="form-group">
        <div class="col-sm-6">
          <label class="errorlabel" ng-repeat="error in expensesCtrl.currentExpense.errors">{$ error $}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only">Expense description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-class="{submitted: !!submitted}" placeholder="Expense description"
            ng-model="expensesCtrl.currentExpense.description" required>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only control-label">Amount</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" ng-class="{submitted: !!submitted}" placeholder="Amount"
           ng-model="expensesCtrl.currentExpense.amount" required>
        </div>
        <label class="sr-only control-label">Date</label>
        <div class="col-sm-2">
          <div class='input-group date' id='currentExpenseDate'>
            <input type="text" class="form-control" ng-class="{submitted: !!submitted}" ng-model="expensesCtrl.currentExpense.date" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>

        </div>
        <label class="sr-only control-label">Time</label>
        <div class="col-sm-2">
          <div class='input-group date' id='currentExpenseTime'>
            <input type="text" class="form-control" ng-class="{submitted: !!submitted}" ng-model="expensesCtrl.currentExpense.time" required>
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="sr-only control-label">Comment</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" ng-class="{submitted: !!submitted}" placeholder="Comment"
           ng-model="expensesCtrl.currentExpense.comment">
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-primary" ng-click="submitted = true">
            <i class="glyphicon glyphicon-ok"></i>
            Submit</button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-danger" ng-click="submitted = false; expensesCtrl.hideForm()">
            <i class="glyphicon glyphicon-ban-circle"></i>
            Cancel</button>
        </div>
      </div>
    </form>

    <div class="row-fluid" cg-busy="{promise:expensesPromise, message:'Loading Expenses...'}">
      <div class="alert alert-info" ng-show="!expensesCtrl.expenses.length">No expenses.</div>

      <table class="table table-striped table-hover" ng-show="expensesCtrl.expenses.length">
        <thead>
          <tr>
            <th>Expense</th>
            <th>Date and Time</th>
            <th>Comment</th>
            <th class="amount">Amount</th>
            <th class="amount">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="expense in expensesCtrl.expenses">
            <td width="30%">
              <span ng-hide="editMode">{$ expense.description $}</span>
              <input class="form-control" type="text" placeholder="Description" ng-show="editMode" ng-model="expense.description" required>
            </td>
            <td width="15%">
              <span ng-hide="editMode">{$ expense.date|date:"MM/dd/yyyy" $}, {$ expense.time $}</span>

              <div class='input-group date' id='expenseDate-{$ $index $}' ng-show="editMode" ng-date-edit>
                <input type="text" class="form-control" ng-model="expense.date" required>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
              <div class='input-group date' id='expenseTime-{$ $index $}' ng-show="editMode" ng-time-edit>
                <input type="text" class="form-control" ng-model="expense.time" required>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
              </div>
            </td>
            <td width="20%">
              <span ng-hide="editMode">{$ expense.comment $}</span>
              <input type="text" class="form-control" placeholder="Comment" ng-show="editMode" ng-model="expense.comment">
            </td>
            <td width="15%" class="amount">
              <span ng-hide="editMode">{$ expense.amount|currency $}</span>
              <input type="number" class="form-control" placeholder="Amount" ng-show="editMode" ng-model="expense.amount" required>
            </td>
            <td width="20%">
              <div class="pull-right">
                <button class="btn btn-default" ng-click="editMode = true; expensesCtrl.startEditing(expense)" ng-show="!editMode">
                  <i class="glyphicon glyphicon-edit"></i>
                  Edit
                </button>
                <button class="btn btn-primary" ng-click="expensesCtrl.saveExpense(expense); editMode = false;" ng-show="editMode">
                  <i class="glyphicon glyphicon-ok"></i>
                  Submit
                </button>
                <button class="btn btn-danger" ng-click="editMode = false; expensesCtrl.cancelEdit(expense)" ng-show="editMode">
                  <i class="glyphicon glyphicon-ban-circle"></i>
                  Cancel
                </button>
                <button class="btn btn-danger" ng-click="expensesCtrl.deleteExpense(expense)"
                  ng-show="!editMode">
                  <i class="glyphicon glyphicon-remove"></i>
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
