<div class="row-fluid" ng-controller="ExpensesController as expensesCtrl">
  <div class="col-lg-12">
    <h2>Expenses</h2>
    <button class="btn btn-success space-bottom" ng-click="expensesCtrl.showForm = true">
      <i class="glyphicon glyphicon-plus"></i>
      Add Expense
    </button>

    <form name="expensesForm" class="form-horizontal" role="form" novalidate
      ng-show="expensesCtrl.showForm"
      ng-submit="expensesForm.$valid && expensesCtrl.addExpense()">
      <div class="form-group">
        <label class="sr-only">Expense description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Expense description"
            ng-model="expensesCtrl.currentExpense.description" required>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only control-label">Amount</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" placeholder="Amount"
           ng-model="expensesCtrl.currentExpense.amount" required>
        </div>
        <label class="sr-only control-label">Date</label>
        <div class="col-sm-2">
          <input type="date" class="form-control" placeholder="Date"
           ng-model="expensesCtrl.currentExpense.date" required>
        </div>
        <label class="sr-only control-label">Time</label>
        <div class="col-sm-2">
          <input type="time" class="form-control" placeholder="Time"
           ng-model="expensesCtrl.currentExpense.time" required>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only control-label">Comment</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Comment"
           ng-model="expensesCtrl.currentExpense.comment">
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i>
            Submit</button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-danger" ng-click="expensesCtrl.hideForm()">
            <i class="glyphicon glyphicon-ban-circle"></i>
            Cancel</button>
        </div>
      </div>
    </form>

    <div class="alert alert-info" ng-show="!expensesCtrl.expenses.length">No expenses yet.</div>

    <table class="table table-striped table-hover" ng-show="expensesCtrl.expenses.length">
      <thead>
        <tr>
          <th>Expense</th>
          <th>Date and Time</th>
          <th>Amount</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="expense in expensesCtrl.expenses">
          <td>
            <span ng-hide="editMode">{$ expense.description $}</span>
            <input class="form-control" type="text" placeholder="Description" ng-show="editMode" ng-model="expense.description" required>
          </td>
          <td>
            <span ng-hide="editMode">{$ expense.date|date:"MM/dd/yyyy" $}, {$ expense.time|time:"h:mm a" $}</span>
             <input type="date" class="form-control" placeholder="Date" ng-show="editMode" ng-model="expense.date" required>
             <input type="time" class="form-control" placeholder="Time" ng-show="editMode" ng-model="expense.time" required>
          </td>
          <td>
            <span ng-hide="editMode">{$ expense.amount|currency $}</span>
            <input type="number" class="form-control" placeholder="Amount" ng-show="editMode" ng-model="expense.amount" required>
          </td>
          <td>
            <span ng-hide="editMode">{$ expense.comment $}</span>
            <input type="text" class="form-control" placeholder="Comment" ng-show="editMode" ng-model="expense.comment">
          </td>
          <td>
            <button class="btn btn-default" ng-click="editMode = true; expensesCtrl.startEditing(expense)" ng-show="!editMode">
              <i class="glyphicon glyphicon-edit"></i>
              Edit
            </button>
            <button class="btn btn-primary" ng-click="expensesCtrl.saveExpense(expense); editMode = false;" ng-show="editMode">
              <i class="glyphicon glyphicon-ok"></i>
              Submit
            </button>
            <button class="btn btn-danger" ng-click="editMode = false; expensesCtrl.cancelEdit(expense)" ng-show="editMode">
              <i class="glyphicon glyphicon-ban-circle"></i>
              Cancel
            </button>
            <button class="btn btn-danger" ng-click="expensesCtrl.deleteExpense(expense)"
              ng-show="!editMode">
              <i class="glyphicon glyphicon-remove"></i>
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
