{% extends "base.html" %}

{% load staticfiles %}

{% block extra_js %}
  <script type="text/javascript" src="{% static "js/app.js" %}"></script>
  <script type="text/javascript" src="{% static "js/expenses.js" %}"></script>
{% endblock extra_js %}

{% block content %}
  <nav class="navbar navbar-inverse" ng-controller="PagesController as pages">
    <a class="navbar-brand" href="#/" ng-click="pages.selectPage(1)">Exway - Expenses the Easy Way!</a>
    <ul class="nav navbar-nav">
      <li ng-class="{ active: pages.isSelected(1) }"><a href="#/" ng-click="pages.selectPage(1)">Expenses</a></li>
      <li ng-class="{ active: pages.isSelected(2) }"><a href="#/reports" ng-click="pages.selectPage(2)">Reports</a></li>
    </ul>
  </nav>

  <div class="container-fluid">
    <ng-view viewstate></ng-view>
  </div>
{% endblock content %}
